# <center>Assignment Data Analyst - Lovoo </center>
## <center>Hazel Vanesa Jaime Huerfano</center>
#### <center>July 2020</center>

Intro
Este notebook responde a la necesidad del caso de negocio,as ajsdhsad 
Consideraciones

In [228]:
import pandas as pd
import datetime as dt
import numpy as np
from ipywidgets import interact

In [229]:
sign_up=pd.read_csv('sign_up.csv', sep = ',')
users=pd.read_csv('users.csv', sep = ',')

In [230]:
sign_up.head()

                 timestamp                           user_id platform    event
0  2020-05-01 18:47:43 UTC  83033166c18d0785dc7ae8496b183a9d   iphone  sign_up
1  2020-05-01 23:22:51 UTC  721642cdc8d755beb340fe387ce5937b   iphone  sign_up
2  2020-05-01 06:35:14 UTC  957e7f8d770d010ecff9208dce086993   iphone  sign_up
3  2020-05-08 19:35:42 UTC  aeb83fa241cc990a31ab45f1d259863e   iphone  sign_up
4  2020-05-08 00:49:33 UTC  59c509abfb256c9aa5e7db0c655a2fd6   iphone  sign_up

In [231]:
users.head()

                            user_id gender
0  645f3dd935b9771f9c09759fcbeec33e      f
1  e41eca12083b4c48c88f40b0fe7fa4ee      f
2  b9ecf8618ce2313627955cfca2befe4b      f
3  87d2074ed55bd70565a9d8476382937c      f
4  ddfd4dc0eb7d07a2c3a15baa8e2d0c83      f

In [207]:
sign_up.dtypes

timestamp    object
user_id      object
platform     object
event        object
dtype: object

In [233]:
users.dtypes

user_id    object
gender     object
dtype: object

In [208]:
sign_up.shape

(1729, 4)

In [234]:
users.shape

(13910, 2)

In [209]:
sign_up.isnull().values.any()

False

In [235]:
users.isnull().values.any()

False

In [238]:
print(sum(sign_up.groupby('user_id')['user_id'].nunique()))
print(max(sign_up.groupby('user_id')['user_id'].nunique()))
print(min(sign_up.groupby('user_id')['user_id'].nunique()))

1729
1
1

In [239]:
print(sum(users.groupby('user_id')['user_id'].nunique()))
print(max(users.groupby('user_id')['user_id'].nunique()))
print(min(users.groupby('user_id')['user_id'].nunique()))

13910
1
1

In [240]:
sign_up1=pd.merge(left=sign_up,right=users, how='left',left_on='user_id', right_on='user_id')

In [241]:
sign_up1.head()

,timestamp,user_id,platform,event,gender
0,2020-05-01 18:47:43 UTC,83033166c18d0785dc7ae8496b183a9d,iphone,sign_up,m
1,2020-05-01 23:22:51 UTC,721642cdc8d755beb340fe387ce5937b,iphone,sign_up,f
2,2020-05-01 06:35:14 UTC,957e7f8d770d010ecff9208dce086993,iphone,sign_up,m
3,2020-05-08 19:35:42 UTC,aeb83fa241cc990a31ab45f1d259863e,iphone,sign_up,m
4,2020-05-08 00:49:33 UTC,59c509abfb256c9aa5e7db0c655a2fd6,iphone,sign_up,m

In [242]:
sign_up1.isnull().values.any()

False

In [243]:
print(sum(sign_up1.groupby('user_id')['user_id'].nunique()))
print(max(sign_up1.groupby('user_id')['user_id'].nunique()))
print(min(sign_up1.groupby('user_id')['user_id'].nunique()))

1729
1
1

In [244]:
def time(timestamp_string):
    date_time_obj=dt.datetime.strptime(timestamp_string, '%Y-%m-%d %H:%M:%S %Z')
    return date_time_obj

In [245]:
def date(timestamp):
    date_time_obj=dt.datetime.date(timestamp)
    date_time_obj=pd.to_datetime(date_time_obj, format='%Y/%m/%d')
    return date_time_obj

In [246]:
def hour(timestamp):
    date_time_obj=dt.datetime.time(timestamp)
    return date_time_obj

In [252]:
sign_up1['full_date'] = sign_up1.apply(lambda x: time(x.timestamp), axis = 1)

In [253]:
sign_up1['fecha'] = sign_up1.apply(lambda x: date(x.full_date), axis = 1)

In [254]:
sign_up1['hora'] = sign_up1.apply(lambda x: hour(x.full_date), axis = 1)

In [255]:
sign_up1['Dayofweek'] = sign_up1['fecha'].dt.dayofweek

In [256]:
sign_up1.head()

,timestamp,user_id,platform,event,gender,full_date,fecha,hora,Dayofweek
0,2020-05-01 18:47:43 UTC,83033166c18d0785dc7ae8496b183a9d,iphone,sign_up,m,2020-05-01 18:47:43,2020-05-01,18:47:43,4
1,2020-05-01 23:22:51 UTC,721642cdc8d755beb340fe387ce5937b,iphone,sign_up,f,2020-05-01 23:22:51,2020-05-01,23:22:51,4
2,2020-05-01 06:35:14 UTC,957e7f8d770d010ecff9208dce086993,iphone,sign_up,m,2020-05-01 06:35:14,2020-05-01,06:35:14,4
3,2020-05-08 19:35:42 UTC,aeb83fa241cc990a31ab45f1d259863e,iphone,sign_up,m,2020-05-08 19:35:42,2020-05-08,19:35:42,4
4,2020-05-08 00:49:33 UTC,59c509abfb256c9aa5e7db0c655a2fd6,iphone,sign_up,m,2020-05-08 00:49:33,2020-05-08,00:49:33,4

In [257]:
sign_up1.dtypes

timestamp            object
user_id              object
platform             object
event                object
gender               object
full_date    datetime64[ns]
fecha        datetime64[ns]
hora                 object
Dayofweek             int64
dtype: object

In [ ]:
from scipy.stats import norm
def plot_function(size = 100, bins = 10, loc=0, scale=1, color='red'):
    data = norm.rvs(size=size, loc=loc, scale=scale)
    binwidth = (max(data) - min(data))/ bins
    plt.hist(data, 
             bins=np.arange(min(data), max(data) + binwidth, binwidth),
             color=color)
    plt.show()

In [276]:
def plot_punto_1(columns):
    if columns=="Total":
        df_1=pd.pivot_table(sign_up1,index=["fecha"],values=["user_id"],aggfunc='count')
        plot = df_1['user_id'].plot()
    else: 
        df_1=pd.pivot_table(sign_up1,index=["fecha"],columns=columns,values=["user_id"],aggfunc='count')
        plot = df_1['user_id'].plot()

In [277]:
interact(plot_punto_1, columns=["platform","gender","Total"])

interactive(children=(Dropdown(description='columns', options=('platform', 'gender', 'Total'), value='platformâ€¦